{% extends 'core/base.html' %}

{% block content %}
  <div class="container_fluid p-5 bg-light">
    {% for ch, lessons in chapter_lessons %}
      <div class="card">
        <h2 class="text-start"><a href="/sql/{{ch.slug}}">Chapter {{ch.chapter_number}}: {{ ch.chapter_name }}</a></h2>
        <p class="text-start">{{ ch.chapter_description }}</p>
        {% for lesson in lessons %}
        <div class="card">
          <h3 class="text-start"><a href=""> Lesson {{lesson.lesson_number}}: {{ lesson.lesson_name }}</a></h3>
          <p class="text-start">{{ lesson.lesson_description }}</p>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
