{% extends "core/base.html" %} 
{% block title %} DCS5.0 |About {% endblock %}

{% block content %}
<div class="container_fluid p-5 bg-light">
  <h2>Project Creator</h2>
  <div class="card m-2 p-2">
    <p>Serginau LOUIS</p>
    <p>BI Analyst at Digicel</p>
    <p>Project creator and Main contributor</p>
  </div>
  </div>

  <div class="container_fluid p-5 bg-light">
    <h2>Contributors</h2>
  {% if contributors %}
  {% for contributor in contributors %}
  <div class="card m-2 p-2">
    <p>{{ contributor.name }}</p>
    <p>{{ contributor.position }}</p>
    <p>{{ contributor.description }}</p>
  </div>
  {% endfor %} {% else %}
  <p>No others Contributors.</p>
  {% endif %}
</div>
{% endblock %}

